body {
    margin: 0;
    padding: 0;
}

.ylapalkki {
    width: 100%;
    padding-top: 5px;
    column-gap: 20px;
    position: fixed;
    top: 0;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

a:link {
    text-decoration: none;
}

.linkit {
    width: 100%;
    height: 40px;
    column-gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.valittulinkki {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bolder;
    color: gray;
    text-decoration: underline;
}

.linkki {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bolder;
    color: black;
    text-decoration: none;
}

.linkki:hover {
    color: gray;
    text-decoration: underline;
}

.otsikko {
    padding-top: 3px;
    padding-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}

.content {
    width: 70%;
    margin: auto;
    padding-top: 90px;
    height: auto;
}

.first-content {
    padding-top: 50px;
    width: 100%;
    text-align: center;
}

.first-content h1 {
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
}

.second-content {
    width: 100%;
    text-align: center;
}

.second-content p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.second-content span {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.bold-text {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.third-content {
    width: 100%;
    display: flex;
    column-gap: 10px;
    padding-bottom: 30px;
}

img {
    width: 20%;
}

footer {
    display: flex;
    bottom: 0;
    width: 100%;
    padding-bottom: 40px;
    background-color: rgb(243, 243, 243);
}

.footer_vasen {
    padding-top: 20px;
    padding-left: 40px;
}

.footer_otsikko {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: black;
}

.footer_tiedot {
    display: grid;
    row-gap: 7px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bolder;
    color: black;
}

.flex-grow {
    flex-grow: 1;
}

.footer_oikea {
    padding-top: 20px;
    padding-right: 40px;
}

.some_otsikko {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: bolder;
    color: black;
}

.somet {
    display: grid;
    row-gap: 5px;
}

.some {
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: bolder;
    color: black;
}

.somekuva {
    width: 55px;
}

.somelinkki {
    color: black;
}

.footer_img {
    width: 80%;
}

@media screen and (max-width: 600px) {

    .otsikko {
        font-size: 18px;
        padding-left: 20px;
    }
    
    .linkit {
        height: auto;
        row-gap: 20px;
        display: grid;
        justify-content: center;
        text-align: center;
        padding-bottom: 15px;
    }

    .linkki {
        font-size: 18px;
    }

    .content {
        width: 100%;
        padding-top: 160px;
    }

    .second-content {
        width: 90%;
        margin: auto;
    }

    .third-content {
        width: 100%;
        display: grid;
        row-gap: 10px;
        justify-items: center;
    }

    img {
        width: 80%;
    }

    footer {
        height: auto;
        padding-bottom: 20px;
    }

    .footer_otsikko {
        font-size: 18px;
    }

    .footer_tiedot {
        font-size: 14px;
    }

    .some_otsikko {
        font-size: 18px;
    }
    .some {
        font-size: 14px;
    }

    .somekuva {
        width: 40px;
    }
 
}